# Chặn toàn bộ file cache của Python tự sinh ra
__pycache__/
*.pyc
*.pyo
*.pyd

# Chặn môi trường ảo (nếu bạn có dùng venv)
venv/
.venv/
env/

# Chặn file cấu hình ẩn của VS Code
.vscode/

# Chặn các file log hệ thống
*.log